body {
    background-color: #FFFDD0;
}
h1 {
    background-color: red;
    display: flex;
    justify-content: center;
    color: gold;
}

#outershell {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#griddad {
    background-color: red;
    padding-top: 48px;
    padding-bottom: 80px;
    padding-left: 164px;
    padding-right: 164px;
    border-radius: 24px;
    justify-content: center;
}

#grid {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 16px;
    width: 450px;
    height: 450px;
}

.square {
    border: 1px black solid;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 8px;
    margin: 32px;
    padding: 10px 24px;
    font-size: large;
    background-color: white;
}